<form action='/auth/login' method='POST' class="logIn">
    <fieldset>
        <h2>Inicia sesion</h2>
        <label for="userName">Email de usuario</label>
        <input type="email" id="email" name="email">
        <hr>
        <label for="userPassword">Contraseña</label>
        <input type="password" id="pass" name="pass">
        <hr>
        <input type="submit" id="buttonSumbit">
    </fieldset>

</form>
<a href='/auth/register' class="buttonAccount">no tengo cuenta!</a>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/auhtLogin.js"></script>